[tool.black]
line-length = 120
target-version = ["py310"]
exclude = '''
/(
  \.git
  | \.venv
  | venv
  | __pycache__
)/
'''

[tool.isort]
profile = "black"
line_length = 120
skip = ["venv", ".venv"]
py_version = 310

[tool.mypy]
python_version = "3.10"
ignore_missing_imports = true
strict = false
